
#clr
{
  background: #070745;
  color:#ffff;
  font-family: 'Anek Devanagari', sans-serif;
}
#cls{
  background: #ffff;
}
#hero{
  background: black;
  height:auto;
  width:auto;
}
#imgscale{
  height: 200px;

  display:block;
  margin-right: auto;
  margin-left: auto;
}

#clse
{
  color:#ffff;
  font-family: 'Anek Devanagari', sans-serif;
  
}
#pol
{
  background: #0000;
  display:block;
  margin-right: auto;
  margin-left: auto;
}
#fd
{
  font-family: 'Anek Devanagari', sans-serif;
  font-size: 20px;

}
#opl
{
  font-family: 'Anek Devanagari', sans-serif;
  text-align: center;

}
#img1
{
  height: 300px;
  width: auto;
}
#carouselExampleControls
{
  border: 4px solid black;
}
.gal
{
  font-family: 'Anek Devanagari', sans-serif;
  text-align: center;
  color:#ffff;

}
.hrcl
{
  border:4px solid red;
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.gal1
{
  height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gal2
{
  height: 200px;
}